img{
     
    
   width:500px ;
   height: 500px;}

    button{
        background-color:rgb(0, 255, 0);
        color: blue;
    border-radius: 10px 14px 0px 12px;
    height: auto;
    width: auto;
    box-shadow: 2px 3px 5px 1px rgb(33, 3, 73);
    
    }
    #en{  background-color:blue;
    border-radius: 10px 14px 0px 12px;
    height: auto;
    width: auto;
    box-shadow: 2px 3px 5px 1px rgb(33, 3, 73);}
    nav{height: 300px;
    background-color: rgba(0, 0, 0, 0.952);
margin:-8px -8px 0px -8px;
        padding: 0px 0px 0px 0px;
        border: 0px 0px 0px 0px;
    }

    #logo4{
        height: 297px;
        width: 369px;
        background-image: none;
    }
    #bp{height: 126px;
        width: 196px;
        background-color:black;
        color: aliceblue;
        margin:170px -5px 0px 0px;
        padding: 0px 0px 0px 0px;
        border: 0px 0px 0px 0px;
    }
    #bp:hover{background-color: rgb(39, 39, 39);
        transition: 0.50s;

    }
    img #dentista{
        height: 491px;
        width: 430px;
    }
    article{width: 400px;}
    p{
        width: 300px;
    }